<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${updateUser.getId()})}" th:object="${updateUser}">
  <p>
    <label for="name" >Введите имя:</label>
    <input type="text" th:field="*{name}" id="name"/>
  </p>
  <p>
    <label for="age">Введите возраст:</label>
    <input type="text" th:field="*{age}" id="age"/>
  </p>
  <p>
    <label for="email">Введите email:</label>
    <input type="text" th:field="*{email}" id="email"/>
  </p>
  <p>
    <label for="password">Введите пароль:</label>
    <input type="text" th:field="*{password}" id="password"/>
  </p>
  <p>
    <label><input type="checkbox" name="roleAdmin" th:value="ROLE_ADMIN" th:text="Администратор"/></label>
    <label><input type="checkbox" name="roleUser" th:value="ROLE_USER" th:text="Пользователь"/></label>
  </p>
  <br/>
  <hr/>
  <input type="submit" value="Изменить"/>
</form>
<br/>
<hr/>
<form th:method="GET" action="/logout">
  <input type="submit" value="Выйти">
</form>
</body>
</html>